.foodItem {
    width: 30%;
    height: 210px;
    margin: 0 auto;
    background-color: #0000005a ;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom:10px ;
    box-sizing: border-box;
    border: 1px solid white;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.right {
    width: 60%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 10px; 
}

.heading h1::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%; 
    height: 4px;
    background: linear-gradient(to right, red, orange, red); 
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.heading h1:hover::after {
    transform: scaleX(1.1);
}


.info p {
    font-size: 0.8rem;
    color: #ffffff;
    margin: 5px 0;
    font-family: "Montserrat", sans-serif;
}

.amount {
    display: flex;
    justify-content: flex-end;
}

.amount button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.amount button:hover {
    background-color: #e64a19;
}
